body {
    margin: 0;
}

#container  {
    background-color: white;
    height: 100vh;
    padding: 30px 0;
        
}

#extraer{
    background-color: #fff;
    border: 1.8px solid #707070;
    box-shadow: 2px 2px 0px 0px #707070;
} 

#dinero {
    border: 1.8px solid #707070;
}

#post input {
    padding: 5px;
    margin-top: 20px;
}

#post {
    text-align: center;
}
